{% load static %}

<!-- Footer -->
<footer  >

<div class="container-fluid" >
    <div class=" flex-nowrap d-flex justify-content-between">
    <div class="d-flex flex-row" style="max-height:209px;">
        <picture class="d-flex">
        <img  src="{% static '/accueil/Personnage.png' %}"   alt="personnage"/>
        </picture>
        <a class="p-4 mt-auto beta" href="/beta"> <div>Version Beta Snapcyle </div> </a>
        
    </div>
    
    <div class="d-flex flex-row">
        <h5 class="p-4 mb-0 mt-auto "> 
        <picture class="d-flex">
            <img  src="{% static '/accueil/icon-feather-linkedin.png' %}" class="img-fluid" alt="linkedin"/> 
        </picture>
        </h5>
        <h5 class="p-4 mb-0 mt-auto ">
        <picture class="d-flex">  <img  src="{% static '/accueil/icon-awesome-instagram.png' %}" class="img-fluid" alt="instagram"/> 
        </picture>
        </h5>
        <h5 class="p-4 mb-0 mt-auto "> 
        <picture class="d-flex"> 
            <img src="{% static '/accueil/icon-awesome-facebook-square.png' %}" class="img-fluid" alt="facebook"/>
        </picture>
        </h5>
    </div>
    </div>`
</div>
</footer>