.transition-fade {
  transition: 1.4s ease-in-out;
  opacity: 1;
  transform: translateX(0%);
  transform-origin: left;
}

html.is-animating .transition-fade {
  transform: translateX(100%);
  opacity: 0.5;
}

html.is-leaving .transition-fade {
  transform: translateX(0);
  opacity: 1;
}

.transition-down {
  transition: 1.4s ease-in-out;
  opacity: 1;
  transform: translateY(0%);
  transform-origin: top;
}

html.is-animating .transition-down {
  transform: translateY(100%);
  opacity: 0.5;
}

html.is-leaving .transition-down {
  transform: translateY(0);
  opacity: 1;
}