@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Nunito:ital,wght@0,900;1,800&family=Roboto+Condensed:wght@700&family=Roboto:wght@500&display=swap');

@font-face {
  font-family: "Kollektif";
  src: url("../font/Kollektif.ttf") format("truetype");
}

@font-face {
  font-family: "Sacramento-Regular";
  src: url("../font/Sacramento-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("../font/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../font/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("../font/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Arial Rounded MT";
  src: url("../font/Arial_Rounded_MT.ttf") format("truetype");
}

.beta {
  font-size: 20;
  font-family: "Kollektif", "Times New Roman", sans-serif;
}

.m-title {
  font-size: 3em;
  margin: 0.5em 0 0.5em 0;
}

.txt-percent {
  font-size: 1.8em;
  color: white;
  margin-top: -1.2em;
  font-family: "Sacramento-Regular";
  font-weight: 600;
}

.container-mission {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 00), rgb(182, 242, 253), rgb(182, 242, 253));
  border-radius: 0.4em;
}

.container-contact {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;

}

.circle-container {
  flex-basis: 250px;
  height: 250px;
  border-radius: 50%;
  border: 10px solid rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(182, 242, 253, 0.74);
}


.mission-title {
  font-size: 10em;
  text-shadow: 0px 4px 5px rgba(207, 207, 207, 0.72);
  letter-spacing: 5px;
  color: white;
  font-family: "Sacramento-Regular", "Times New Roman", sans-serif;
}

@media (max-width: 544px) {
  .mission-title {
    font-size: 5em;
  }
}


h3 {
  font-size: 50px;
  letter-spacing: 4px;
  font-weight: 600;
  color: white;
  font-family: "Sacramento-Regular", "Times New Roman", sans-serif;
}

.number {
  font-size: 3em;
  font-weight: 900;
  letter-spacing: 4px;
  color: #005a70;
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: "Sacramento-Regular", "Times New Roman", sans-serif;
}

.text-box {
  font-size: 14;
  color: #005a70;
  line-height: 2;
  font-family: "Poppins-Regular", "Times New Roman", sans-serif;
  border: solid white 10px !important;
  letter-spacing: 0.1em;
  margin-left: 4em;
  margin-right: 4em;
  position: relative;
}

.bar {
  border: 3px solid #005a70;
  background-color: #005a70;
  width: 30%;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  border-radius: 1em;
}



.spool-text {
  font-size: 2em;
  color: #58d6d7;
  line-height: 2em;
  letter-spacing: 3px !important;
  font-family: "Poppins-Regular", "Times New Roman", sans-serif;

}

.spool-title {
  font-size: 4em;
  color: #58d6d7;
  line-height: 2em;
  letter-spacing: 0.2em !important;
  font-family: "Poppins-Regular", "Times New Roman", sans-serif;
}

.beta-header-right {
  font-size: 45px;
  letter-spacing: 4px;
  font-weight: 600;
  font-family: "Poppins-Regular", "Times New Roman", sans-serif;
}

.beta-header-left {
  font-size: 20px;
  letter-spacing: 4px;
  font-family: "Poppins-Regular", "Times New Roman", sans-serif;
}

.beta-header-left-2 {
  font-size: 20px;
  letter-spacing: 4px;
  font-family: "Poppins-Bold", "Times New Roman", sans-serif;
}

.thank-header {
  font-size: 150px;
  font-family: "Sacramento-Regular", "Times New Roman", sans-serif;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: white;
}

.text-sc {
  font-size: 25;
  color: #005a70;
  font-family: "Poppins-SemiBold", "Times New Roman", sans-serif;
}

a {
  font-size: 1em;
  color: white;

}

.nav-item,
a {
  font-size: 1.1em;
  font-weight: 900;
  font-family: 'Nunito', sans-serif;
  margin: 0.9em;
}



.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
  color: #024f47;
}

.jumbotron {
  width: 50%;
  height: auto;
  background-color: black;
}

div,
p {
  font-size: 18px;
}

.page-footer {
  margin-bottom: 0;
}

.message-img {
  width: 75%;
  height: auto;
}


.loading-img {
  padding: 55px;
  width: 85%;
  height: auto;
}

.txt-accueil {
  font-size: 3.4em;
  color: white;
  font-family: "Sacramento-Regular";
}

.align-middle {
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 700px) {


  .navbar-brand,
  img {
    width: 73%;
  }

  .contact-logo {
    width: 160%;
    margin-top: 20px;
  }

  .propos-logo {
    margin-left: -22px;
    width: 110%;
    margin-top: 20px;
  }

  div,
  p {
    font-size: 12px;
    line-height: 24px;
  }

  .container-contact {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;

  }

  .circle-container {
    flex-basis: 180px;
    height: 180px;
  }

  .loading-img {
    width: 420px;
  }

  .txt-percent {
    font-size: 2.4em;
  }

  .txt-accueil {
    font-size: 3.4em;
    line-height: 1.1em;
    color: white;
    font-family: "Sacramento-Regular";
  }





}





/* 
@media (max-width: 544px) {

  div,
  p {
    font-size: 12px;
  }
}

@media (min-width: 544px) and (max-width: 768px) {

  div,
  p {
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 950px) {

  div,
  p {
    font-size: 16px;
  }
}



@media (min-width: 950px) and (max-width:1100px) {

  div,
  p {
    font-size: 18px;
  }
} */



@media (max-width: 544px) {
  .text-sc {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .text-sc {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  .text-sc {
    font-size: 25px;
  }
}

@media (min-width: 1200px) {
  .text-sc {
    font-size: 25px;
  }
}


@media (min-width: 950px) and (max-width:1100px) {
  .text-sc {
    font-size: 20px;
  }
}